# === Python Cache ===
__pycache__/
**/__pycache__/
*.py[cod]

# === Build Artifacts ===
build/
dist/

# === Virtual Environment ===
venv/

# === PyInstaller Spec File ===
*.spec

# === Editor/IDE Files (Opsional) ===
.vscode/
.idea/
*.swp
